$red: red;
$bg: white;
$sub-bg: #f9f9f9;
$color: #030303;
$sub-color: #606060;
$border-color: #e5e5e5;
$main-border-color: #e7e8e8;
$hover-color: #ececec;
$mix: linear-gradient(230deg, #f6b9d9 0%, #7532c0 100%);
$purple: #a680d3;
$deep-purple: #7532c0;
