.home__tags {
  position: fixed;
  width: 100%;
  margin-left: 70px;
  height: 58px;
  background-color: $bg;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  flex-direction: row;
  align-content: center;
  span {
    display: flex;
    text-align: center;
    height: 32px;
    background-color: $sub-bg;
    border: 1px solid $border-color;
    border-radius: 25px;
    padding: 8px 12px;
    margin: 12px 12px 12px 0;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
  }
  span:hover {
    background-color: $hover-color;
  }
  span:nth-child(1) {
    background-color: $color;
    color: $bg;
    margin: 12px 12px 12px 24px;
  }
}

.home__main {
  margin-left: 70px;
  padding: 83px 25px 25px 25px;
  background-color: $sub-bg;
}
