.section {
  margin: 57px auto 0 auto;
  padding: 0 57px;
  max-width: 400px;
  background-color: $sub-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .article {
    display: flex;
    align-items: center;
    background-color: $bg;
    width: 400px;
    .article__title {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      .article__main-title {
        font-size: 25px;
        margin-top: 50px;
      }
      .article__sub-title {
        font-size: 18px;
        margin-top: 18px;
        margin-bottom: 30px;
        span {
          color: $deep-purple;
          font-weight: 800;
        }
      }
    }
  }
}
.form {
  * {
    outline: none;
    border: none;
  }
  width: 400px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  background-color: $bg;
  .form__label {
    background-color: $bg;
    padding: 20px;
    .form__input-file {
      padding-left: 20px;
    }
  }
  .form__input {
    margin: 0 20px;
    padding: 20px;
    font-size: 14px;
    border-bottom: 1px solid $main-border-color;
    transition: border-color 0.2s ease-in-out;
  }
  .form__input:focus {
    border-color: $color;
  }
}

.form__input-submit {
  margin: 20px 20px 0 20px;
  background-color: $bg;
  padding: 5px;
  color: $link;
  width: 110px;
  height: 40px;
  border: 1px solid $link;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.form__input-submit:hover {
  background-color: $link;
  color: $bg;
}

.form__input-submit-bg {
  margin: 20px 20px 0 20px;
  background-color: $bg;
  padding: 5px;
  color: $link;
  width: 360px;
  height: 40px;
  border: 1px solid $link;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.form__input-submit-bg:hover {
  background-color: $link;
  color: $bg;
}

.form__input-submit-point {
  margin: 20px 20px 0 20px;
  background-color: $link;
  padding: 5px;
  color: $bg;
  width: 360px;
  height: 40px;
  border: 1px solid $link;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.form__input-submit-point:hover {
  background-color: $main-border-color;
  border-color: $main-border-color;
  color: $link;
}

.form__input-submit-record {
  margin: 20px 20px 0 20px;
  background-color: $bg;
  padding: 5px;
  color: $red;
  width: 150px;
  height: 40px;
  border: 1px solid $red;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.form__input-submit-record:hover {
  background-color: $red;
  border-color: $red;
  color: $bg;
}
