header {
  z-index: 5;
  position: fixed;
  width: 100%;
  background-color: $bg;
  box-sizing: border-box;
  height: 58px;
  padding: 0 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  .header__icons {
    display: flex;
    .header__logo {
      text-align: start;
      min-width: 70px;
      margin-left: 25px;
      display: block;
      color: $deep-purple;
      font-weight: 800;
      font-size: 22px;
      i {
        font-size: 15px;
        color: rgb(100, 100, 100);
      }
    }
  }
  ul {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    li {
      display: block;
      margin-left: 20px;
      font-size: 14px;
      color: rgb(100, 100, 100);
    }
    i {
      font-size: 20px;
      color: rgb(100, 100, 100);
    }
    .header__avatarBg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $purple;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: white;
        font-size: 17px;
      }
    }
  }
}
.header__btn {
  border: none;
  border: 1px solid $link;
  background-color: $link;
  color: $bg;
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
}
.header__btn-log {
  border: none;
  border: 1px solid $link;
  background-color: $bg;
  color: $link;
  width: 80px;
  height: 40px;
  padding: 5px 10px;
  cursor: pointer;
}
.header__btn-logout {
  border: none;
  border: 1px solid $main-border-color;
  background-color: $bg;
  color: $sub-color;
  width: 80px;
  height: 38px;
  padding: 5px 10px;
  cursor: pointer;
}

.header__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: $purple;
  background-size: cover;
  background-position: center;
}

.header__search {
  height: 40%;
  display: flex;
  align-items: center;
  .search__form {
    width: 100%;
    display: flex;
    align-items: center;
    input {
      border: none;
      outline: none;
      display: block;
      height: 40px;
      width: 100%;
      padding: 2px 6px;
      background-color: &bg;
      font-size: 15px;
      border: 1px solid $main-border-color;
    }
    button {
      border: none;
      background-color: $bg;
      border: 1px solid $main-border-color;
      display: block;
      width: 64px;
      height: 40px;
      font-size: 18px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
    }
    button:hover {
      background-color: $main-border-color;
    }
  }
}

.flex-container {
  .flex1 {
    flex: 1 1 20em;
  }
  .flex2 {
    flex: 1 1 644px;
  }
  .flex3 {
    flex: 1 1 20em;
  }
}
