.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  font-size: 14px;
  width: 400px;
  background-color: $bg;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  a {
    cursor: pointer;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: $mix;
  position: relative;
  margin-right: 15px;
  i {
    font-size: 50px;
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: $bg;
  }
}
