.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.auth-switch {
  font-size: 14px;
  width: 400px;
  background-color: $bg;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  a {
    cursor: pointer;
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $purple;
  position: relative;
  margin-right: 15px;
  i {
    font-size: 50px;
    position: absolute;
    bottom: 18px;
    left: 18px;
    color: $sub-bg;
  }
}

.video-mixin__avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 12px 12px 0 0;
  background-color: $purple;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    font-size: 20px;
    color: $sub-bg;
  }
}
