.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  font-size: 14px;
  width: 400px;
  background-color: $bg;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  a {
    cursor: pointer;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: linear-gradient(250deg, #000000 0%, $red 100%);
}
