//video mixins
.video-aside-mixin {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  .video-aside-mixin__thumb {
    margin-right: 8px;
    width: 168px;
    height: 94px;
  }
  img {
    width: 100%;
  }
  .video-aside-mixin__data {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .video-aside-mixin__info {
      .video-aside-mixin__title {
        font-size: 14px;
        font-weight: 600;
        color: $color;
        font-weight: 500;
        display: block;
        margin: 5px 0 10px 0;
      }
      .video-aside-mixin__meta {
        font-size: 12px;
        color: $sub-color;
        p {
          margin-bottom: 8px;
        }
      }
    }
  }
}
