//video mixins
.video-mixin {
  .video-mixin__thumb {
    height: 176px;
    width: 315px;
  }
  img {
    width: 100%;
  }
  .video-mixin__data {
    margin-top: 12px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    .video-mixin__info {
      .video-mixin__title {
        font-size: 15px;
        color: $color;
        font-weight: 500;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .video-mixin__meta {
        font-size: 14px;
        color: $sub-color;
        p {
          margin-bottom: 5px;
        }
      }
    }
  }
}
