extends base
include mixins/video

block content
    include partials/sidenav
    div.home__tags
        span 전체
        span 음악
        span 믹스
        span 실시간
        span 뷰티 팁
        span 애니메이션
    div.video-grid.home__main
        each video in videos
            +video(video)
        else
            span.empty__message No videos found.