extends base

block content
    section.section
        article.article
            div.article__title
                h1.article__main-title 로그인
                h2.article__sub-title 
                    span Vl☻g
                    small.article__sub-title 로 이동
                if errorMessage
                    span.errorMessage=errorMessage
        form.form(method="POST")
            input.form__input(name="username", type="text", placeholder="아이디", required)
            input.form__input(name="password", type="password", placeholder="비밀번호", required)
            input.form__input-submit-point(type="submit", value="로그인")
        div.auth-switch
            span 아직 계정이 없나요?
            a(href="/join")
                button.form__input-submit-bg 회원가입
            include partials/social-login