extends base
include mixins/video

block content
    include partials/sidenav
    div.video-grid.search__main
        each video in videos 
            +video(video)
        else
            span.empty__message 찾는 비디오가 없습니다.