header
    div.header__icons
        i.fas.fa-bars
        a(href="/").header__logo
            span Vl
            i.far.fa-smile
            span g
    div.header__search
        form(action="/serch")
            input(type="text" placeholder="검색") 
        a(href="/search")
            i.fas.fa-search
    nav
        ul
            if loggedIn
                li
                    a(href="/videos/upload")
                        <i class="fas fa-video"></i>
                li
                    a(href="/users/edit") Edit Profile
                li
                    a(href="/users/logout") Log out
                li
                    a(href=`/users/${loggedInUser._id}`) 
                        if loggedInUser.avatartUrl === ""
                            span 😃
                        else
                            img.header__avatar(src=`/${loggedInUser.avatarUrl}`, crossorigin)
            else
                li
                    a(href="/login") Login
                li
                    a(href="/join").header__btn Join