header.flex-container
    div.header__icons.flex1
        i.fas.fa-bars
        a(href="/").header__logo
            span Vl☻g
    div.header__search.flex2
        form(action="/search" method="GET").search__form
            input#input-search(name="keyword", type="text", placeholder="제목으로 검색")
            button
                i.fas.fa-search
    nav.flex3
        ul
            if loggedIn
                li
                    a(href="/users/logout")
                        button.header__btn-logout 로그아웃
                li
                    a(href="/videos/upload")
                        <i class="fas fa-video"></i>
                li
                    a(href=`/users/${loggedInUser._id}`) 
                        if loggedInUser.avatarUrl === ""
                            i.fas.fa-user
                        else if loggedInUser.avatarUrl === undefined
                            i.fas.fa-user
                        else
                            if loggedInUser.avatarUrl
                                if loggedInUser.avatarUrl.includes("github")
                                    img.header__avatar(src=`${loggedInUser.avatarUrl}`, crossorigin)
                                else
                                    img.header__avatar(src=`${loggedInUser.avatarUrl}`, crossorigin)
            else
                li
                    a(href="/login")
                        button.header__btn-log 로그인
                li
                    a(href="/join")
                        button.header__btn 회원가입
