extends ../base

block content
    include ../partials/sidenav
    if errorMessage
        span=errorMessage
    section.profile
        article.profile__user
            img(src=`/${loggedInUser.avatarUrl}`).avatar
            section.profile__user-info
                h1=loggedInUser.name
        article.profile__data
            section.profile__data-videos
                h2 비밀번호 변경
                    small 비밀번호 변경 후 자동으로 로그아웃됩니다.
                        span *
                form.form(method="POST")
                    input.form__input(name="oldPassword", type="password", placeholder="현재 비밀번호*", required)
                    input.form__input(name="newPassword", type="password", placeholder="새로운 비밀번호*", required)
                    input.form__input(name="newPasswordConfirmation", type="password", placeholder="새로운 비밀번호 재확인*", required)
                    input.form__input-submit(type="submit", value="비밀번호 변경")