extends ../base

block content
    include ../partials/sidenav
    section.profile
        article.profile__user
            if loggedInUser.avatarUrl === ""
                div.avatar
                    i.fas.fa-user
            else if loggedInUser.avatarUrl === undefined
                    div.avatar
                        i.fas.fa-user
            else
                img(src=`/${loggedInUser.avatarUrl}`).avatar
            section.profile__user-info
                h1=loggedInUser.name
        article.profile__data
            section.section__form-container
                h2 비밀번호 변경
                    small 비밀번호 변경 시 자동으로 로그아웃됩니다.
                        span *
                if errorMessage
                    span.errorMessage=errorMessage
                form.form(method="POST")
                    input.form__input(name="oldPassword", type="password", placeholder="현재 비밀번호*", required)
                    input.form__input(name="newPassword", type="password", placeholder="새로운 비밀번호*", required)
                    input.form__input(name="newPasswordConfirmation", type="password", placeholder="새로운 비밀번호 재확인*", required)
                    input.form__input-submit-point.edit-profile__submit(type="submit", value="비밀번호 변경하기")
                a(href=`/users/${loggedInUser._id}`)
                    button.form__input-submit-bg.edit-profile__password 프로필로 돌아가기